<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Django Level Two</title>
        <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
    </head>
    <body>
        <h1>Hi welcome to Django Level two</h1>
        <h2>Here are your stats:</h2>

        <div class="djangotwo">
            {% if stats %}
                <table>
                    <thead>
                        <th>Stats ID</th>
                        <th>Tag</th>
                    </thead>
                    {% for stat in stats %}
                    <tr>
                        <td>{{ stat.id }}</td>
                        <td>{{ stat.tag }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>NO STATS FOUND!</p>
            {% endif %}
        </div>
    </body>
</html>
